/* GAME PIKCHU */
.root-page {
    /* background-image: url('./images/background.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100vh;
    background-color: black;
  }
 
/* TIME BAR */
.time-bar-root {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.time-bar {
    display: flex;
    border: solid 4px white;
    width: 70vw;
    height: 35px;
}
.time-bar-pass {
    background-color: red;
    width: 40vw;
}
.time-bar-left {
    background-color: white;
    width: 30vw;
}
/* GAME TABLE */
#game-canvas {
    position: absolute;
    z-index: 1;
    background-color: transparent;
}
.game-table {
    position: relative;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.game-table-horizontal {
    display: flex;
    z-index: 10;
}
.game-table-card {
    width: 66px;
    height: 66px;
    border: solid 2px gray;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}
.game-table-card-selected {
    width: 66px;
    height: 66px;
    border: solid 2px yellow;
    background-color: #DEDEDE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}
.game-table-card-success {
    width: 66px;
    height: 66px;
    border: solid 2px #00FF00;
    background-color: #DEDEDE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}
.game-table-card-failure {
    width: 66px;
    height: 66px;
    border: solid 2px red;
    background-color: #DEDEDE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}
.game-table-card:active {
    transform: translateY(2px);
    background-color: #bebebe;
}